*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{

    --main-color:rgb(0, 220, 165);
    /* --main-color:rgb(0, 220, 33); */
}

html,body{
    /* background-color: black; */
    /* background-color: rgb(0, 226, 87); */
    background-color: var(--main-color);
    height: 100%;
}

#app{
    height: inherit;
}

main{
    height: inherit;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

canvas{
    /* background-color: rgb(255, 255, 255); */
    /* background-color: rgb(0, 226, 87); */
    background-color: var(--main-color);
}

.menu,.menu-bottom{

    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.789);
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5rem;
}

.menu{

    top: 0;
}

.menu-bottom{

    bottom: 0;
}

.button{

    cursor: pointer;
    color: rgba(255, 255, 255, 0.61);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 18px;
    background-color: rgba(0, 243, 178, 0.133);
    border-bottom: 2px solid rgb(0, 255, 170);
    border-radius: 0.25rem;
    width: 150px;
    text-align: center;

    transition: background 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.xo{

    display: flex;
    justify-content: space-between;
}

.restart{

    font-size: 20px;
    border-bottom: none;
}

.restart:hover{

    background: rgba(0, 243, 178, 0.281);
}

/* .button:hover{

    background: rgba(0, 243, 178, 0.281);
} */

.selected{

    background-color: rgba(0, 243, 178, 0.281);
    border-bottom-color: rgb(85, 255, 0);
}